.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 20px;
  height: 100vh;
}
.restaurant-list-main {
  width: 100%;
  display: flex;
}
.cardaction-div {
  width: 98%;
  display: flex;
  margin-top: 0px;
  padding-top: 0px;
  justify-content: space-between;
  align-items: baseline;
  position:absolute;
  padding:5px;
  padding-bottom: 20px;
  bottom:5px;
}

@media (max-width: 992px) {
  .flex-container {
    flex-direction: column;
  }
  .released-movie-grid-item {
    margin: 8px;
  }
}
