.appbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 0px;
  background-color:#37474f;
  justify-content: space-evenly;
}

.searchbar-div {
  padding: 8px 5px 9px 5px;
  text-align: center;
}

.searchbar {
  width: 250px;
}
